/* Add "<%=ApplicationSettings.Get("Branding_ThemeObject","ActiveCSS.PageInsert")%>" to a view if you want to use this CSS Style Sheet  */



/*--------------------------------Color Selector ---------------------------------- */
:root {
--SKFRoyalBlue: #0000fe;
--SKFWhite: #ffffff;
--SKFLightBlue: #ccdcff;
--SKFYellow: #fdf6bf;
--SKFBlack: #000000;
--SKFGrey: #b2b2b2;
--SKFLightGrey: #e5e5e5;
}


/*------------------------------- BUTTON SHAPE - START -------------------------------*/
.grid-action-links input, .grid-action-links a, .wf-link , .inventory-actions .dropdown_text {

padding: 7px 8px !important;
gap: 3px;
border-radius: 7px !important;
margin: 3px !important;
outline: 1px solid var(--SKFLightBlue); !important;
background-image:none!important;

}

/*DETAIL MENU BUTTONS PADDING*/

.menu-action-links input, .menu-action-links a {
padding: 7px 8px;
gap: 3px;
border-radius: 7px !important;
margin: 3px !important;
outline: 1px solid var(--SKFLightBlue); !important;
}

/*-------------------------------BUTTON SHAPE - END-------------------------------*/

/*------------------------------- BUTTON COLOR- START -------------------------------*/
.menu-action-links .exit-link,
.inventory-actions .dropdown_text,
.link,
.grid-action-links input,
.grid-action-links a, 
.gridCreateLink,
a.gridCreateLink, 
.grid-attach-link,
a.grid-attach-link,
a.gridAttachLink,
input[name='save_action_link'],
input[name='save_exit_action_link'],
input[name='save_add_new_action_link'],
input[name='Cancel-link'],
.gridCreateMultiLink,
a.gridDeleteLink, 
a.gridDetachLink, 
a.gridDetachLink, 
.archiveLink, 
gridArchiveLink, 
a.gridArchiveLink, 
deleteLink, 
a.deleteLink,
.gridListAllLink,
.gridAdvancedSearchLink,
.menu-action-links .cloneLink,
a.securityActionLink,
a.auditActionLink,
.menu-action-links a.actionlLink,
.grid-action-links a.actionlLink,
.menu-action-links a.gridExecuteActionLink,
.grid-action-links a.gridExecuteActionLink,
.menu-action-links .edit-link,
.menu-action-links .cancel-link
 {
background-color: var(--SKFLightBlue)!important;
color: var(--SKFBlack)!important;
border-color:  var(--SKFLightBlue) ;

}
/*-------------------------------BUTTON COLOR - END -------------------------------*/

/*-------------------------------DETAIL MENU BUTTONS WHEN HOVER OVER - START-------------------------------*/
.menu-action-links input:hover, .menu-action-links a:hover , .links_container a:hover, .grid-action-links a:hover{
color: var(--SKFBlack)!important;
outline: 1px solid var(--SKFYellow)!important;
background-color: var(--SKFYellow)!important;
}
/*-------------------------------DETAIL MENU BUTTONS WHEN HOVER OVER - END-------------------------------*/



/*------------------------------- WORKFLOW BUTTON COLOR- START -------------------------------*/
.wf-link {
background-color: var(--SKFRoyalBlue)!important;
color: var(--SKFWhite)!important;
}

/*-------------------------------DETAIL MENU BUTTONS WHEN HOVER OVER - START-------------------------------*/
/*-------------------------------WORKFLOW BUTTON SHAPE - COLOR -------------------------------*/

/*--------------------------------------------------------------------INVENTORY VIEWS  ----------------------------------------------------------------- */


/* --------------------------GRID AND INVENTORY TABLES HEADER COLOUR - START --------------------------*/
table.links, .detpage .links, .links_container {

background: var(--SKFLightGrey)!important;
border-width: 1px 1px 0 1px;
border-style: solid;
border-color:  var(--SKFLightGrey);
}

/* --------------------------GRID AND INVENTORY TABLES HEADER COLOUR - END --------------------------*/


/*  ------------------------------- SIDE PANEL MENU COLOUR- START ------------------------------- */
.tab-menu .menu-bar,
.tab-menu .menu-bar #searchMenu,
.tab-menu #toggleMenu,
.tab-menu.tab-menu-collapsed #toggleMenu,
.tab-menu .menu-bar .collapsible-panel-header,
.tab-menu .menu-bar .collapsible-panel-header {
background: #ebf0f0!important;
}
/*------------------------------- SIDE PANEL MENU COLOUR - END-------------------------------*/

/*------------------------------- INVENTORY VIEW - COLUMN FILTER - START -------------------------------*/

.header_wrapper {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: flex-start;
}

table.links {
background-image:none!important;
}

.datagrid .td_sorting .tool-tip {
margin-left: 0!important;
}


.datagrid .td_sorting .dropdown_container {
margin-right: 0 !important;
}

.filterBox {
margin: 0 !important;
background-color: #ECEDF0 !important;
color: var(--SKFBlack)!important;
border: 0 !important;
border-radius: 4px !important;

}

input.filterBox {

background-image: url(https://static.intelex.com/Version/6.6.9.0/Content/Themes/Material/images/Search.png) !important;
background-repeat: no-repeat !important;
background-position-y: 50% !important;
background-position-x: 4px !important;
padding-left: 20px !important;
background-size: 12px !important;
}

/*---------------------- INVENTORY VIEW - COLUMN FILTER- END ------------------------------ */

/*  ------------------------------- HIDE CUSTOM INVENTORY DROPDOWN MENU ON INVENTORY VIEW - START -------------------------------*/

#customInventory_right {
display: none;
}

.header-wrapper-inventory.custom-inventory-raven {
margin-top: 22px!important;
}
/*  ------------------------------- HIDE CUSTOM INVENTORY DROPDOWN MENU ON INVENTORY VIEW- END  ------------------------------- */

/* -------------------------------Column Header Wrapping - START------------------------------- */
.datagrid .dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2px;
}
 
.datagrid thead tr.header {
    max-height: unset !important;
}
 
.datagrid .dropdown a:link {
    white-space: normal !important;
}
 
/* -------------------------------Column Header Wrapping - END -------------------------------*/

/*-------------------------------SCROLL BAR - START -------------------------------*/

* {
scrollbar-width: 10PX;
scrollbar-color: var(--SKFRoyalBlue)var(--SKFGrey);
}

*::-webkit-scrollbar-track {
background-color: var(--SKFWhite);
}

*::-webkit-scrollbar-thumb {
background-color: var(--SKFRoyalBlue);
}

*::-webkit-scrollbar-thumb:hover {
background-color: var(--SKFYellow);
}

/*------------------------------- SCROLL BAR - END-------------------------------*/




/*---------------------------------------------------------------------------------------------DETAIL VIEWS  --------------------------------------------------------------------------------- */


/*------------------------- FIELD AREA   - START -------------------------------*/
.fieldarea-field > div,
.entitySelectorGroup > div {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
}

.detpage .field-area {
display: flex;
flex-direction: column;
gap: 10px;
}

.detpage[data-viewmode="Edit"] .fieldarea-field,
.detpage[data-viewmode="Create"] .fieldarea-field {
background-color: #fafafa;
cursor: not-allowed;
}

.detpage .fieldarea-field {
display: flex;
flex-wrap: nowrap;
gap: 10px;
border-radius: 4px;
outline: 1px solid  var(--SKFGrey) ;
min-height: 18px;
}

select[multiple='multiple'] {
width: 80% !important;
}
 /* -------------------------FIELD AREA   - END-------------------------------*/



/*------------------------------- ENTITY SELECT - BUTTONS MADE TO ICONS INSTEAD OF WORDS - START ------------------------------- */

.entitySelectorGroup {
color: var(--SKFWhite);
font-size: 0;
}

.entityselector-selectLink:before, .entityselector-clearLink:before, .entityselector-assignToMeLink:before {
font-family: FontAwesome;
font-size: 18px;
color:  var(--SKFRoyalBlue);
padding: 5px;
}

.entityselector-selectLink:before {
content: "\f002";
}

.entityselector-clearLink:before {
content: "\f05c";
}

.entityselector-selectLink, .entityselector-clearLink{
font-size: 0 !important;
}

.entityselector-selectLink:hover:before, .entityselector-clearLink:hover:before,.entityselector-assignToMeLink:before {
background-color: var(--SKFYellow);
outline: 1px solid var(--SKFYellow);
border-radius: 2px;
}
/*------------------------------- ENTITY SELECT - BUTTONS MADE TO ICONS INSTEAD OF WORDS - END ------------------------------- */

/* -------------------------------BREADCRUMBS - DEFINED AND UNDERLINED ON THE DETAIL VIEW - START -------------------------------*/

.detpage .breadcrumbs {

padding-bottom: 8px;
}

.breadcrumbs a {
color: rgb(0, 76, 143) !important;

padding: 2px 0;
font-size: 12px !important;
border-bottom: 2px solid rgb(0, 76, 143) !important;
}

.breadcrumbs a:hover {
background-color: var(--SKFYellow);
border-radius: 2px;
outline: 1px solid var(--SKFYellow);
}
/*------------------------------- BREADCRUMBS - DEFINED AND UNDERLINED ON THE DETAIL VIEW - END-------------------------------*/
/* ------------------------------- DETAIL VIEW - SECTIONS- START------------------------------- */

.tabs-section.ui-tabs .ui-tabs-panel {
padding:0 !important;
padding-bottom: 0 !important;
}

.tabs-section > .secbase, .secbase > .secbase, .ui-tabs-panel > .secbase {
margin-bottom: 0 !important;

}

.secbase .links_container {
line-height: inherit!important;
}


ul.tabs-section {
margin-top: 13px!important;


background-color: transparent!important;
border-bottom: 1px solid #d7dcde!important;

display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
justify-content: flex-start;
}
/* ------------------------------- DETAIL VIEW - SECTIONS- END ------------------------------- */



/* -------------------------------HEADERS AND MENUS DISPLAY FIELD - START-------------------------------*/
.detpage .menu-top-container .main {
border:none !important;
}
.detpage .menu-top-container-float {
    background-color: white;
    padding-bottom: 10px;
}


.detpage .header .main .title-container .text {
color: rgb(0, 76, 143) !important;
font-size: 25px;
font-weight: normal;
}
/*------------------------------- HEADERS AND MENUS DISPLAY FIELD - END-------------------------------*/


/* ------------------------------- DETAIL VIEW - GROUP SECTIONS WITH A BORDER AND HIGHLIGHT SECTION TITLE- START------------------------------- */
li.tabs-section {


background-color: #f1f5f6!important;
border: 1px solid var(--SKFGrey)!important;
height: 36px;
display: flex;
align-items: center;
position: relative!important;
}


li.ui-tabs-active {
top: 1px!important;
background-color: var(--SKFWhite)!important;
border-top: var(--SKFRoyalBlue)
 3px solid!important;
}
/* ------------------------------- DETAIL VIEW - GROUP SECTIONS WITH A BORDER AND HIGHLIGHT SECTION TITLE- END------------------------------- */

/*------------------------------- SECTIONS ON DETAIL PAGE - START-------------------------------*/

.tabs-section.ui-tabs .ui-tabs-panel {
padding: 0 !important;
padding-bottom: 0 !important;
}

.tabs-section>.secbase,
.secbase>.secbase,
.ui-tabs-panel>.secbase {
margin-bottom: 0 !important;

}

ul.tabs-section {
margin-top: 13px !important;


background-color: transparent !important;
border-bottom: 1px solid #264357!important;

display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
justify-content: flex-start;
}


li.tabs-section {


background-color: #f1f5f6 !important;
border: 1px solid #264357!important;
height: 36px;
display: flex;
align-items: center;
position: relative !important;
}


li.ui-tabs-active {

top: 1px !important;
background-color: var(--SKFWhite)!important;
border-top: #var(--SKFBlack) 3px solid !important;
}

.content>.secbase,
.content>#commentsSection>.secbase {
padding-left: 5px;
border: solid;
border-width: 1px 1px 1px 3px;
border-color: var(--SKFRoyalBlue);
box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.8);
border-radius: 10px;
    margin-top: 20px;
}

.secbase.secbase-raven>.header .main>.trigger {
margin-right: 10px;
}

.secbase.secbase-raven>.header .main>.title-container {
border: none !important;
}

.detpage .header .main,
.secbase>.content,
.secbase.secbase-raven>.footer>.main {
background-color: transparent !important;
}

.secbase.closed>.header {
height: 48px !important;
}

.secbase.secbase-raven>.header .main>.title-container .text {
color: var(--SKFBlack) !important;
}

.detpage .fieldarea-caption .caption-wrapper {
color: var(--SKFBlack)!important;
font-weight: 400 !important;
min-height: auto !important;
}

.secbase.secbase-raven .content .header {
    margin-left: auto !important;
}



/*-------------------------------- SECTIONS ON DETAIL PAGE - END--------------------------------*/




/*------------------------------------------------- INLINE EDIT - START -------------------------------------------------*/

.inline-edit, .popup-edit {
background-color: #e2f3fa;
border: 1px dotted #58c3f0 !important;
}

.inventory-row td.data-cell.wrap {
white-space: normal !important;
}

#inLineEditForm {
padding:0px !important;
}

#inLineEditForm .fieldarea-field input[type="text"] {
width: auto!important;
}

#inLineEditForm .fieldarea-row {
margin-right: 0 !important;
}

#inLineEditForm .fieldarea-field select, .fieldarea-field select[multiple] {
width: auto!important;
}

/*------------------------------------------------- INLINE EDIT - END -------------------------------------------------*/



/*-------------------------------------------------------------WORKFLOW DIAGRAM  --------------------------------------------------------------- */

/*-------------------------------- HIGHLIGHT WORKFLOW BUTTON IN PROGRESS - START  -------------------------------- */
.wfDiagram > div > div[selected='blue'] {
    border: 2px solid var(--SKFRoyalBlue);
    background-color: var(--SKFRoyalBlue);
    color: var(--SKFWhite);
}
/*-------------------------------- HIGHLIGHT WORKFLOW BUTTON IN PROGRESS - END -------------------------------- */

/* --------------------------------ADDS SPACE WHEN WF DIAGRAM FLOATS - START --------------------------------*/
.wffixed{
position: fixed;
    top: 160px;
    left: 0;
    width: 100%;
    z-index: 2;

              }
/* --------------------------------ADDS SPACE WHEN WF DIAGRAM FLOATS - END--------------------------------*/

/* --------------------------------GENERAL - START--------------------------------*/
td.sig-preview img {
    height: 120px;
    width: auto;
    background-color: var(--SKFWhite);
    border: 1px solid gray;
    border-radius: 2px;
}
.prettyCell {

    padding: 10px;
}

.pretty-collection li {
    font-size: 12px;
    line-height: 18px;
}

a#id-446a270b-61d2-4599-b3ef-645d81f4f89c,  a#id-22dec4e3-0d93-4586-ae59-9f6e502d5952, a#id-d1bad224-6908-4ff1-a130-01dc2a83eae8, a#id-77ab742f-dc51-41b7-a34b-31e98722ace0 {
    color: #3498db;
}


.gridCreateMultiLink::before {
    content: '\f0c5';
    font-family: 'FontAwesome';
    font-weight: normal;
    margin-right: 5px;
    font-size: 16px;
}

 div.instructions
	{
	background-color: #f0f7fb;
	border-left: solid 4px  var(--SKFRoyalBlue);
	line-height: 18px;
	overflow: hidden;
	padding: 12px;
	
	}



/* --------------------------------GENERAL - END--------------------------------*/
