/*--------------------------------Color Selector ---------------------------------- */
:root {
--SKFRoyalBlue: #0070c0;
--SKFWhite: #ffffff;
--SKFLightBlue: #fff;
--SKFYellow: #fdf6bf;
--SKFBlack: #000000;
--SKFGrey: #b2b2b2;
--SKFLightGrey: #fefefe;
--SKFGreen: #009e2d;
--SKFRed: #8d1624;
--SKFInstructions: #f0f7fb;
--ILXNavy: #004c8f;
--button-border-color: #d7dcde;
--button-hover-color: #fdf6bf;
--ILXLightGrey: #bdc3c7; 
--ILXBlack: #262626;  
}

.detpage .menu-action-links .mtLinkContainer,
 
.detpage .menu-action-links a, 
.detpage .menu-action-links a.edit-link, 
.detpage .menu-action-links input {
    margin-right: 0;
    border: 2px solid rgb(0, 76, 143);
    padding: 8px 10px !important;
    border-radius: 21px;
    background-image: none !important;
    color: rgb(0, 76, 143);
    font-size: 15px;
    font-weight: 600;
}
 
.detpage .menu-action-links .mtLinkContainer a.dropdown_text {
	padding: 0 !important;
    background: none !important;
    font-size: 15px;
    color: #004c8f;
}
