/* Detail - Input Component */

.fieldarea-field  input[type=checkbox] {
    margin: 8px;
}

.fieldarea-field textarea, 
.fieldarea-field input,
.fieldarea-field select {
    border-radius: 8px !important;
    box-sizing: border-box;
    border: 1px solid #004c8f!important;
    padding: 8px;
}

.fieldarea-field input,
.fieldarea-field select {
    height: unset !important;
}

.detpage .fieldarea-field{
    padding-top: unset !important;
}

.fieldarea-field textarea,
.fieldarea-field select,
.fieldarea-field input[type="text"] {
    width: 100%!important;
}

.fieldarea-field select[name$="Timezone"] {
    width: auto!important;
    margin-right: 8px;
}

.fieldarea-field input[type="text"], 
.fieldarea-field input[type="password"] {
    height: unset!important;
    line-height: unset!important;
}

.detpage .fieldarea-caption .caption-wrapper {
    min-height: unset !important;
}





/* Add "<%=ApplicationSettings.Get("Branding_ThemeObject","ActiveCSS.PageInsert")%>" to a view if you want to use this CSS Style Sheet */



/*--------------------------------Color Selector ---------------------------------- */
:root {
--SKFRoyalBlue: #0070c0;
--SKFWhite: #ffffff;
--SKFLightBlue: #fff;
--SKFYellow: #fdf6bf;
--SKFBlack: #000000;
--SKFGrey: #b2b2b2;
--SKFLightGrey: #fefefe;
--SKFGreen: #009e2d;
--SKFRed: #f93434;
  --SKFInstructions: #0070c0;
}


/*------------------------------- BUTTON SHAPE - START -------------------------------*/
.grid-action-links input, .grid-action-links a, .wf-link , .inventory-actions .dropdown_text {

padding: 7px 8px !important;
gap: 3px;
border-radius: 7px !important;
margin: 3px !important;
outline: 3px solid var(--SKFRoyalBlue); !important;
background-image:none!important;


}

/*DETAIL MENU BUTTONS PADDING*/

.menu-action-links input, .menu-action-links a {
padding: 7px 8px;!important;
padding-left: 10px !important;
padding-right: 10px !important;
gap: 3px;
border-radius: 7px !important;
margin: 3px !important;
outline: 3px solid var(--SKFRoyalBlue); !important;
background-image:none!important;
}

/*-------------------------------BUTTON SHAPE - END-------------------------------*/

/*------------------------------- BUTTON COLOR- START -------------------------------*/
.menu-action-links .exit-link,
.inventory-actions .dropdown_text,
.link,
.grid-action-links input,
.grid-action-links a,
.gridCreateLink,
a.gridCreateLink,
.grid-attach-link,
a.grid-attach-link,
a.gridAttachLink,
input[name='save_action_link'],
input[name='save_exit_action_link'],
input[name='save_add_new_action_link'],
#save_action_link,
#save_exit_action_link,
#save_add_new_action_link,
#Cancel-link,
.gridCreateMultiLink,
a.gridDeleteLink,
a.gridDetachLink,
a.gridDetachLink,
.archiveLink,
gridArchiveLink,
a.gridArchiveLink,
deleteLink,
a.deleteLink,
.gridListAllLink,
.gridAdvancedSearchLink,
.menu-action-links .cloneLink,
a.securityActionLink,
a.auditActionLink,
.menu-action-links a.actionlLink,
.grid-action-links a.actionlLink,
.menu-action-links a.gridExecuteActionLink,
.grid-action-links a.gridExecuteActionLink,
.menu-action-links .edit-link,
.menu-action-links .cancel-link
{
background-color: var(--SKFLightBlue)!important;
color: var(--SKFBlack)!important;
outline: 3px solid var(--SKFRoyalBlue); !important;

}


/*-------------------------------BUTTON COLOR - END -------------------------------*/

/*-------------------------------DETAIL MENU BUTTONS WHEN HOVER OVER - START-------------------------------*/
.menu-action-links input:hover, .menu-action-links a:hover , .links_container a:hover, .grid-action-links a:hover{
color: var(--SKFBlack)!important;
background-color: var(--SKFYellow)!important;
outline: 3px solid var(--SKFRoyalBlue); !important;
}
/*-------------------------------DETAIL MENU BUTTONS WHEN HOVER OVER - END-------------------------------*/



/*------------------------------- WORKFLOW BUTTON COLOR- START -------------------------------*/
.wf-link {
background-color: var(--SKFRoyalBlue)!important;
color: var(--SKFWhite)!important;
}

/*-------------------------------DETAIL MENU BUTTONS WHEN HOVER OVER - START-------------------------------*/
/*-------------------------------WORKFLOW BUTTON SHAPE - COLOR -------------------------------*/

/*--------------------------------------------------------------------INVENTORY VIEWS ----------------------------------------------------------------- */



/*--------------------------------Tab Colour Text ---------------------------------- */
.app-tabs ul li.selected-tab>a,
.app-tabs ul li a:hover {
border: none;
color: var(--SKFRoyalBlue); !important;

}

/*--------------------------------Tab Colour Text ---------------------------------- */

.app-tabs ul li a
{
border: none;
color: var(--SKFBlack);
}

/*--------------------------------Inventory Row Text ---------------------------------- */
.inventory-row td.data-cell, .map-wrapper td.data-cell, .detpage .inventory-row td.data-cell {
color: var(--SKFBlack); !important;
font-family: "Open Sans", sans-serif;
font-size: 12px;
font-weight: normal;
padding: 10px;
border: 0;
}
/*--------------------------------Header Inventory Columns ---------------------------------- */
div.dropdown_container a {
color: var(--SKFBlack); !important;
font-family: "Open Sans", sans-serif;
font-size: 12px;
font-weight: 600;
text-decoration: none;
}

/* --------------------------GRID AND INVENTORY TABLES HEADER COLOUR - START --------------------------*/
table.links, .detpage .links, .links_container {

background: var(--SKFLightGrey)!important;
border-width: 1px 1px 0 1px;
border-style: solid;

border-color: var(--SKFLightGrey)!important;
}

/* --------------------------GRID AND INVENTORY TABLES HEADER COLOUR - END --------------------------*/



/*------------------------------- INVENTORY VIEW - COLUMN FILTER - START -------------------------------*/

.header_wrapper {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: flex-start;
}

table.links {
background-image:none!important;
}

.datagrid .td_sorting .tool-tip {
margin-left: 0!important;
}


.datagrid .td_sorting .dropdown_container {
margin-right: 0 !important;
}

.filterBox {
margin: 0 !important;
background-color: var(--SKFLightGrey)!important;
color: var(--SKFBlack)!important;
border: 0 !important;
border-radius: 4px !important;

}

input.filterBox {

background-image: url(https://static.intelex.com/Version/6.6.9.0/Content/Themes/Material/images/Search.png) !important;
background-repeat: no-repeat !important;
background-position-y: 50% !important;
background-position-x: 4px !important;
padding-left: 20px !important;
background-size: 12px !important;
}

/*---------------------- INVENTORY VIEW - COLUMN FILTER- END ------------------------------ */

/* ------------------------------- HIDE CUSTOM INVENTORY DROPDOWN MENU ON INVENTORY VIEW - START -------------------------------*/

#customInventory_right {
display: none;
}

.header-wrapper-inventory.custom-inventory-raven {
margin-top: 22px!important;
}
/* ------------------------------- HIDE CUSTOM INVENTORY DROPDOWN MENU ON INVENTORY VIEW- END ------------------------------- */

/* -------------------------------Column Header Wrapping - START-----------------------------*/
.datagrid .dropdown {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
gap: 2px;
}

.datagrid thead tr.header {
max-height: unset !important;
}

.datagrid .dropdown a:link {
white-space: normal !important;
}

/* ------------------------Column Header Wrapping - END -------------------------------*/

/*-------------------------------SCROLL BAR - START -------------------------------*/

* {
scrollbar-width: 10PX;
scrollbar-color: var(--SKFRoyalBlue)var(--SKFGrey);
}

*::-webkit-scrollbar-track {
background-color: var(--SKFWhite);
}

*::-webkit-scrollbar-thumb {
background-color: var(--SKFRoyalBlue);
}

*::-webkit-scrollbar-thumb:hover {
background-color: var(--SKFYellow);
}

/*------------------------------- SCROLL BAR - END-------------------------------*/




/*---------------------------------------------------------------------------------------------DETAIL VIEWS --------------------------------------------------------------------------------- */


/*------------------------- FIELD AREA - START -------------------------------*/
.fieldarea-field > div,
.entitySelectorGroup > div {
  padding: 8px;
    background-color:var(--LightGrey);
    width: 100%;
    min-height: 16px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
}

.detpage .field-area {
display: flex;
flex-direction: column;
gap: 10px;
}
.detpage[data-viewmode="View"] .fieldarea-field,
.detpage[data-viewmode="Edit"] .fieldarea-field,
.detpage[data-viewmode="Create"] .fieldarea-field {
background-color: #fafafa;
cursor: not-allowed;
}

.detpage .fieldarea-caption {
    margin-top: 4px;
}

.detpage .fieldarea-field {
text-align: left;
    vertical-align: top;
    float: right;
    display: flex;
flex-wrap: nowrap;
gap: 10px;
border-radius: 6px;
outline: 1px solid var(--SKFGrey) ;
min-height: 18px;

}

.detpage .fieldarea-row {
    margin-right: 0 !important;
    line-height: unset !important;
}

.fieldHint {
    order: 50;
}

select[multiple='multiple'] {
width: 80% !important;
}
/* -------------------------FIELD AREA - END-------------------------------*/



/*------------------------------- ENTITY SELECT - BUTTONS MADE TO ICONS INSTEAD OF WORDS - START ------------------------------- */

.entitySelectorGroup {
color: var(--SKFWhite);
font-size: 0;
}

.entityselector-selectLink:before, .entityselector-clearLink:before, .entityselector-assignToMeLink:before {
font-family: FontAwesome;
font-size: 18px;
color: var(--SKFRoyalBlue);
padding: 5px;
}

.entityselector-selectLink:before {
content: "\f002";
}

.entityselector-clearLink:before {
content: "\f05c";
}

.entityselector-selectLink, .entityselector-clearLink{
font-size: 0 !important;
}

.entityselector-selectLink:hover:before, .entityselector-clearLink:hover:before,.entityselector-assignToMeLink:before {
background-color: var(--SKFYellow);
outline: 0px solid var(--SKFYellow);
border-radius: 0px;
}
/*------------------------------- ENTITY SELECT - BUTTONS MADE TO ICONS INSTEAD OF WORDS - END ------------------------------- */

/* -------------------------------BREADCRUMBS - DEFINED AND UNDERLINED ON THE DETAIL VIEW - START -------------------------------*/

.detpage .breadcrumbs {

padding-bottom: 8px;
}

.breadcrumbs a {
color:var(--SKFRoyalBlue)!important;

padding: 2px 0;
font-size: 12px !important;
border-bottom: 2px solid var(--SKFRoyalBlue) !important;
}

.breadcrumbs a:hover {
background-color: var(--SKFYellow);
border-radius: 2px;
outline: 1px solid var(--SKFYellow);
}
/*------------------------------- BREADCRUMBS - DEFINED AND UNDERLINED ON THE DETAIL VIEW - END-------------------------------*/
/* ------------------------------- DETAIL VIEW - SECTIONS- START------------------------------- */

.tabs-section.ui-tabs .ui-tabs-panel {
padding:0 !important;
padding-bottom: 0 !important;
}

.tabs-section > .secbase, .secbase > .secbase, .ui-tabs-panel > .secbase {
margin-bottom: 0 !important;

}

.secbase .links_container {
line-height: inherit!important;
}


ul.tabs-section {
margin-top: 13px!important;


background-color: transparent!important;
border-bottom: 1px solid var(--SKFGrey);!important;

display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
justify-content: flex-start;
}
/* ------------------------------- DETAIL VIEW - SECTIONS- END ------------------------------- */



/* -------------------------------HEADERS AND MENUS DISPLAY FIELD - START-------------------------------*/
.detpage .menu-top-container .main {
border:none !important;
}
.detpage .menu-top-container-float {
background-color: var(--SKFWhite)!important;
padding-bottom: 10px;
}


.detpage .header .main .title-container .text {
color: var(--SKFRoyalBlue)!important;
font-size: 25px;
font-weight: normal;
}
/*------------------------------- HEADERS AND MENUS DISPLAY FIELD - END-------------------------------*/


/* ------------------------------- DETAIL VIEW - GROUP SECTIONS WITH A BORDER AND HIGHLIGHT SECTION TITLE- START------------------------------- */
li.tabs-section {


background-color: var(--SKFWhite)!important;
border: 1px solid var(--SKFGrey)!important;
height: 36px;
display: flex;
align-items: center;
position: relative!important;
}


li.ui-tabs-active {
top: 1px!important;
background-color: var(--SKFWhite)!important;
border-top: var(--SKFRoyalBlue)
3px solid!important;
}
/* ------------------------------- DETAIL VIEW - GROUP SECTIONS WITH A BORDER AND HIGHLIGHT SECTION TITLE- END------------------------------- */

/*------------------------------- SECTIONS ON DETAIL PAGE - START-------------------------------*/

.tabs-section.ui-tabs .ui-tabs-panel {
padding: 0 !important;
padding-bottom: 0 !important;
}

.tabs-section>.secbase,
.secbase>.secbase,
.ui-tabs-panel>.secbase {
margin-bottom: 0 !important;

}

ul.tabs-section {
margin-top: 13px !important;


background-color: transparent !important;
border-bottom: 1px solid var(--SKFBlack)!important;

display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
justify-content: flex-start;
}


li.tabs-section {


background-color: var(--SKFWhite) !important;
border: 1px solidvar(--SKFBlack)!important;
height: 36px;
display: flex;
align-items: center;
position: relative !important;
}


li.ui-tabs-active {

top: 1px !important;
background-color: var(--SKFWhite)!important;
border-top: #var(--SKFBlack) 3px solid !important;
}

.content>.secbase,
.content>#commentsSection>.secbase {
padding-left: 5px;
border: solid;
border-width: 1px 1px 1px 3px;
border-color: var(--SKFRoyalBlue)!important;
box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.8);
border-radius: 10px;
margin-top: 20px;
}

.secbase.secbase-raven>.header .main>.trigger {
margin-right: 10px;
}

.secbase.secbase-raven>.header .main>.title-container {
border: none !important;
}

.detpage .header .main,
.secbase>.content,
.secbase.secbase-raven>.footer>.main {
background-color: transparent !important;
}

.secbase.closed>.header {
height: 48px !important;
}

.secbase.secbase-raven>.header .main>.title-container .text {
color: var(--SKFBlack) !important;
}

.detpage .fieldarea-caption .caption-wrapper {
color: var(--SKFBlack)!important;
font-weight: 400 !important;
min-height: auto !important;
}

.secbase.secbase-raven .content .header {
margin-left: auto !important;
}



/*-------------------------------- SECTIONS ON DETAIL PAGE - END--------------------------------*/




/*------------------------------------------------- INLINE EDIT - START -------------------------------------------------*/

.inline-edit, .popup-edit {
background-color: var(--SKFLightGrey);
border: 1px dotted var(--SKFLightBlue) !important;
}

.inventory-row td.data-cell.wrap {
white-space: normal !important;
}

#inLineEditForm {
padding:0px !important;
}

#inLineEditForm .fieldarea-field input[type="text"] {
width: auto!important;
}

#inLineEditForm .fieldarea-row {
margin-right: 0 !important;
}

#inLineEditForm .fieldarea-field select, .fieldarea-field select[multiple] {
width: auto!important;
}

/*------------------------------------------------- INLINE EDIT - END -------------------------------------------------*/



/*-------------------------------------------------------------WORKFLOW DIAGRAM --------------------------------------------------------------- */

/*-------------------------------- HIGHLIGHT WORKFLOW BUTTON IN PROGRESS - START -------------------------------- */
.wfDiagram > div > div[selected='blue'] {
border: 2px solid var(--SKFRoyalBlue);
background-color: var(--SKFRoyalBlue);
color: var(--SKFWhite);
}
/*-------------------------------- HIGHLIGHT WORKFLOW BUTTON IN PROGRESS - END -------------------------------- */

/* --------------------------------ADDS SPACE WHEN WF DIAGRAM FLOATS - START --------------------------------*/
.wffixed{
position: fixed;
top: 160px;
left: 0;
width: 100%;
z-index: 2;

}

.wfDiagram > div > div {
width: 180px;
text-align: center;
padding: 6px 2px;
font-weight: bold;
border-radius: 8px;
border: 2px solid var(--SKFRoyalBlue);
background-color: var(--SKFWhite);
color: var(--SKFBlack);
}



.wfDiagram > div > div[selected='red'] {
border: 2px solidvar(--SKFRoyalBlue)!important;
background-color: var(--SKFRed)!important;
color: var(--SKFWhite)!important;
}

.wfDiagram > div > div[selected='green'] {
border: 2px solid var(--SKFRoyalBlue)!important;
background-color: var(--SKFGreen)!important;
color: var(--SKFWhite)!important;
}
.wffixed{
position: fixed;
top: 12.8rem;
left: 0;
width: 100%;
z-index: 2;

}

.wfDiagram {
width:100%;
text-align:center;
}
/* --------------------------------ADDS SPACE WHEN WF DIAGRAM FLOATS - END--------------------------------*/

/* --------------------------------GENERAL - START--------------------------------*/
td.sig-preview img {
height: 120px;
width: auto;
background-color: var(--SKFWhite);
border: 1px solid gray;
border-radius: 2px;
}
.prettyCell {

padding: 10px;
}

.pretty-collection li {
font-size: 12px;
line-height: 18px;
}

a#id-446a270b-61d2-4599-b3ef-645d81f4f89c, a#id-22dec4e3-0d93-4586-ae59-9f6e502d5952, a#id-d1bad224-6908-4ff1-a130-01dc2a83eae8, a#id-77ab742f-dc51-41b7-a34b-31e98722ace0 {
color: var(--SKFRoyalBlue);
}


.gridCreateMultiLink::before {
content: '\f0c5';
font-family: 'FontAwesome';
font-weight: normal;
margin-right: 5px;
font-size: 16px;
}

div.instructions
{
background-color: var(--SKFInstructions);
border-left: solid 4px var(--SKFRoyalBlue);
line-height: 18px;
overflow: hidden;
padding: 12px;

}

/*--------------------------------HyperLink on Inventory View colour ---------------------------------- */
.inventory-row td.data-cell a, .map-wrapper td.data-cell a, .detpage .inventory-row td.data-cell a {
color: var(--SKFRoyalBlue)!important;
font-family: "Open Sans", sans-serif;
font-size: 1em;
font-weight: 600;
text-decoration: none;
}

/*--------------------------------Workflow PR/DD Fields ---------------------------------- */
.workflow-status-area span {
color: var(--SKFRoyalBlue); !important;
font-family: "Open Sans", sans-serif;
font-size: 13px;
font-weight: normal;
}
.workflow-status-area strong {
color: var(--SKFBlack);
font-family: "Open Sans", sans-serif;
font-size: 12px;
font-weight: 600;
}
/*--------------------------------Hyperlinks ---------------------------------- */
.det-sec a:hover {
color: var(--SKFRoyalBlue); !important;
background-color: var(--SKFYellow)!important;
text-decoration: none;
}

.det-sec a {
color: var(--SKFRoyalBlue); !important;
font-family: "Open Sans", sans-serif;
font-size: 14px;
font-weight: normal;
text-decoration: none;
}


/* styling for location dropdown */
#activeLocationLink:before {
content: "" !important; }

#location-dropdown a {
background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='%23004C8F'%3E%3Cpath d='M12.1529 12.9997C12.7134 12.9997 13.1932 12.8001 13.5924 12.401C13.9915 12.0018 14.1911 11.522 14.1911 10.9615C14.1911 10.401 13.9915 9.92112 13.5924 9.52197C13.1932 9.12282 12.7134 8.92324 12.1529 8.92324C11.5924 8.92324 11.1125 9.12282 10.7134 9.52197C10.3142 9.92112 10.1146 10.401 10.1146 10.9615C10.1146 11.522 10.3142 12.0018 10.7134 12.401C11.1125 12.8001 11.5924 12.9997 12.1529 12.9997ZM12.1529 20.4901C14.2251 18.5878 15.7622 16.8595 16.7643 15.3054C17.7665 13.7513 18.2675 12.3712 18.2675 11.1653C18.2675 9.3139 17.6773 7.79798 16.4968 6.61751C15.3163 5.43704 13.8684 4.84681 12.1529 4.84681C10.4374 4.84681 8.98938 5.43704 7.80892 6.61751C6.62845 7.79798 6.03822 9.3139 6.03822 11.1653C6.03822 12.3712 6.53928 13.7513 7.5414 15.3054C8.54352 16.8595 10.0807 18.5878 12.1529 20.4901ZM12.1529 22.8086C12.017 22.8086 11.8811 22.7831 11.7452 22.7322C11.6093 22.6812 11.4904 22.6133 11.3885 22.5283C8.9087 20.3373 7.05733 18.3033 5.8344 16.4264C4.61146 14.5496 4 12.7959 4 11.1653C4 8.61751 4.81953 6.58779 6.4586 5.07611C8.09766 3.56443 9.99575 2.80859 12.1529 2.80859C14.31 2.80859 16.2081 3.56443 17.8471 5.07611C19.4862 6.58779 20.3057 8.61751 20.3057 11.1653C20.3057 12.7959 19.6943 14.5496 18.4713 16.4264C17.2484 18.3033 15.397 20.3373 12.9172 22.5283C12.8153 22.6133 12.6964 22.6812 12.5605 22.7322C12.4246 22.7831 12.2887 22.8086 12.1529 22.8086Z' fill='%23%23004C8F'/%3E%3C/svg%3E%0A") no-repeat;
background-position: left 5px;
font-weight: 400;
color: var(--SKFRoyalBlue) ;
font-size: 16px;
font-family: "Open Sans", sans-serif;
padding: 0px; }

#location-dropdown a:hover {
background-position: left; }

#activeLocationLink div:before {
content: '';
display: flex;
background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11.575 15.275C11.4417 15.275 11.3167 15.2541 11.2 15.2125C11.0833 15.1708 10.975 15.1 10.875 15L6.275 10.4C6.09167 10.2166 6 9.98331 6 9.69998C6 9.41664 6.09167 9.18331 6.275 8.99998C6.45833 8.81664 6.69167 8.72498 6.975 8.72498C7.25833 8.72498 7.49167 8.81664 7.675 8.99998L11.575 12.9L15.475 8.99998C15.6583 8.81664 15.8917 8.72498 16.175 8.72498C16.4583 8.72498 16.6917 8.81664 16.875 8.99998C17.0583 9.18331 17.15 9.41664 17.15 9.69998C17.15 9.98331 17.0583 10.2166 16.875 10.4L12.275 15C12.175 15.1 12.0667 15.1708 11.95 15.2125C11.8333 15.2541 11.7083 15.275 11.575 15.275Z' fill='%23004C8F'/%3E%3C/svg%3E") no-repeat;
width: 24px;
height: 24px;
background-position: 7px;
position: relative;
top: 7px; }

#location-dropdown {
background: none;
width: 230px;
height: 46px;
right: 25px; }

#ufd-prerendered {
border: none;
padding-left: 28px;
box-sizing: border-box;
background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='%23004C8F'%3E%3Cpath d='M12.1529 12.9997C12.7134 12.9997 13.1932 12.8001 13.5924 12.401C13.9915 12.0018 14.1911 11.522 14.1911 10.9615C14.1911 10.401 13.9915 9.92112 13.5924 9.52197C13.1932 9.12282 12.7134 8.92324 12.1529 8.92324C11.5924 8.92324 11.1125 9.12282 10.7134 9.52197C10.3142 9.92112 10.1146 10.401 10.1146 10.9615C10.1146 11.522 10.3142 12.0018 10.7134 12.401C11.1125 12.8001 11.5924 12.9997 12.1529 12.9997ZM12.1529 20.4901C14.2251 18.5878 15.7622 16.8595 16.7643 15.3054C17.7665 13.7513 18.2675 12.3712 18.2675 11.1653C18.2675 9.3139 17.6773 7.79798 16.4968 6.61751C15.3163 5.43704 13.8684 4.84681 12.1529 4.84681C10.4374 4.84681 8.98938 5.43704 7.80892 6.61751C6.62845 7.79798 6.03822 9.3139 6.03822 11.1653C6.03822 12.3712 6.53928 13.7513 7.5414 15.3054C8.54352 16.8595 10.0807 18.5878 12.1529 20.4901ZM12.1529 22.8086C12.017 22.8086 11.8811 22.7831 11.7452 22.7322C11.6093 22.6812 11.4904 22.6133 11.3885 22.5283C8.9087 20.3373 7.05733 18.3033 5.8344 16.4264C4.61146 14.5496 4 12.7959 4 11.1653C4 8.61751 4.81953 6.58779 6.4586 5.07611C8.09766 3.56443 9.99575 2.80859 12.1529 2.80859C14.31 2.80859 16.2081 3.56443 17.8471 5.07611C19.4862 6.58779 20.3057 8.61751 20.3057 11.1653C20.3057 12.7959 19.6943 14.5496 18.4713 16.4264C17.2484 18.3033 15.397 20.3373 12.9172 22.5283C12.8153 22.6133 12.6964 22.6812 12.5605 22.7322C12.4246 22.7831 12.2887 22.8086 12.1529 22.8086Z' fill='%23%23004C8F'/%3E%3C/svg%3E%0A") no-repeat;
background-position: left;
position: absolute;
right: 0px; }

#ufd-prerendered button:before {
content: '';
display: block;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11.575 15.275C11.4417 15.275 11.3167 15.2541 11.2 15.2125C11.0833 15.1708 10.975 15.1 10.875 15L6.275 10.4C6.09167 10.2166 6 9.98331 6 9.69998C6 9.41664 6.09167 9.18331 6.275 8.99998C6.45833 8.81664 6.69167 8.72498 6.975 8.72498C7.25833 8.72498 7.49167 8.81664 7.675 8.99998L11.575 12.9L15.475 8.99998C15.6583 8.81664 15.8917 8.72498 16.175 8.72498C16.4583 8.72498 16.6917 8.81664 16.875 8.99998C17.0583 9.18331 17.15 9.41664 17.15 9.69998C17.15 9.98331 17.0583 10.2166 16.875 10.4L12.275 15C12.175 15.1 12.0667 15.1708 11.95 15.2125C11.8333 15.2541 11.7083 15.275 11.575 15.275Z' fill='%23004C8F'/%3E%3C/svg%3E");
width: 24px;
height: 24px;
margin-top: 5px; }

#ufd-prerendered input {
width: 116px !important;
color: var(--SKFRoyalBlue) ;
font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 400;
border: none; }

#ufd-prerendered span {
display: flex;
width: 141px !important;
background-color: transparent; }

#ufd-container .plain .list-wrapper {
border-radius: 8px;
margin-top: 9px;
height: 146px !important;
box-shadow: 0px 4px 14px 0px rgba(0, 76, 143, 0.22);
min-width: 200px !important;
right: 0px !important;
left: inherit !important; }

#ufd-container-locationOption div.list-wrapper div.list-scroll {
border: none;
font-family: "Open Sans", sans-serif;
font-size: 12px;
color: var(--SKFBlack);
border-radius: 8px;
padding: 10px;
box-sizing: border-box;
height: inherit !important; }

#ufd-container ul {
gap: 3px;
display: flex;
flex-direction: column; }

#ufd-container .plain li.active {
background-color: var(--SKFLightBlue);
color: var(--SKFBlack); }

#ufd-container .plain li {
font-size: 14px;
color: var(--SKFBlack);
font-weight: 400; }

@media (max-width: 480px) {
#location-dropdown {
width: 180px;
right: 10px;
top: 4px; }
#location-dropdown a {
font-size: 14px;
background-position: left 5px; }
#activeLocationLink div:before {
background-position: 0px;
margin-left: 3px; }
#ufd-prerendered {
right: 9px; }
#menuLinksContent #generalMenu #userProfilelink {
margin: 3px 0px 0px 0px; } }

#application-dropdown {
width: 220px;
background-color: var(--SKFWhite); }

#application-dropdown:hover {
background-color: var(--SKFLightBlue); }

#application-dropdown .appdropdown-title {
position: absolute;
left: 20px;
width: 180px;
height: 45px;
padding: 0px; }

#application-dropdown .appdropdown-title {
background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11.575 15.275C11.4417 15.275 11.3167 15.2541 11.2 15.2125C11.0833 15.1708 10.975 15.1 10.875 15L6.275 10.4C6.09167 10.2166 6 9.98331 6 9.69998C6 9.41664 6.09167 9.18331 6.275 8.99998C6.45833 8.81664 6.69167 8.72498 6.975 8.72498C7.25833 8.72498 7.49167 8.81664 7.675 8.99998L11.575 12.9L15.475 8.99998C15.6583 8.81664 15.8917 8.72498 16.175 8.72498C16.4583 8.72498 16.6917 8.81664 16.875 8.99998C17.0583 9.18331 17.15 9.41664 17.15 9.69998C17.15 9.98331 17.0583 10.2166 16.875 10.4L12.275 15C12.175 15.1 12.0667 15.1708 11.95 15.2125C11.8333 15.2541 11.7083 15.275 11.575 15.275Z' fill='%23004C8F'/%3E%3C/svg%3E") no-repeat;
background-position: right !important; }

#application-dropdown .appdropdown-title span {
width: 150px;
color:var(--SKFRoyalBlue) ;
font-size: 16px;
font-weight: 400;
background-color: inherit; }

#application-dropdown .appdropdown-dropdown {
width: 500px;
max-height: 500px;
background: var(--SKFWhite);
position: absolute;
top: 56px;
box-shadow: 0px 4px 14px 0px rgba(0, 76, 143, 0.22);
z-index: 1001;
left: 10px;
border-radius: 24px;
padding: 0px 24px 24px 24px; }

#application-dropdown .appdropdown-dropdown input.appdropdown-searchbar.searchbar-novalue {
background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20.0682 21.6871L13.7045 15.3144C13.1364 15.7696 12.483 16.1299 11.7443 16.3954C11.0057 16.661 10.2197 16.7937 9.38636 16.7937C7.32197 16.7937 5.57481 16.0778 4.14489 14.6458C2.71496 13.2138 2 11.4642 2 9.39687C2 7.32954 2.71496 5.5799 4.14489 4.14794C5.57481 2.71598 7.32197 2 9.38636 2C11.4508 2 13.1979 2.71598 14.6278 4.14794C16.0578 5.5799 16.7727 7.32954 16.7727 9.39687C16.7727 10.2314 16.6402 11.0185 16.375 11.7582C16.1098 12.4979 15.75 13.1522 15.2955 13.7212L21.6875 20.1223C21.8958 20.331 22 20.587 22 20.8905C22 21.1939 21.8864 21.4595 21.6591 21.6871C21.4508 21.8957 21.1856 22 20.8636 22C20.5417 22 20.2765 21.8957 20.0682 21.6871ZM9.38636 14.5178C10.8068 14.5178 12.0142 14.0199 13.0085 13.0242C14.0028 12.0284 14.5 10.8193 14.5 9.39687C14.5 7.97439 14.0028 6.76529 13.0085 5.76956C12.0142 4.77383 10.8068 4.27596 9.38636 4.27596C7.96591 4.27596 6.75852 4.77383 5.7642 5.76956C4.76989 6.76529 4.27273 7.97439 4.27273 9.39687C4.27273 10.8193 4.76989 12.0284 5.7642 13.0242C6.75852 14.0199 7.96591 14.5178 9.38636 14.5178Z' fill='%23004C8F'/%3E%3C/svg%3E") no-repeat;
background-color: var(--SKFWhite);
background-position: 0.5rem center; }

#application-dropdown .appdropdown-dropdown input.appdropdown-searchbar {
background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20.0682 21.6871L13.7045 15.3144C13.1364 15.7696 12.483 16.1299 11.7443 16.3954C11.0057 16.661 10.2197 16.7937 9.38636 16.7937C7.32197 16.7937 5.57481 16.0778 4.14489 14.6458C2.71496 13.2138 2 11.4642 2 9.39687C2 7.32954 2.71496 5.5799 4.14489 4.14794C5.57481 2.71598 7.32197 2 9.38636 2C11.4508 2 13.1979 2.71598 14.6278 4.14794C16.0578 5.5799 16.7727 7.32954 16.7727 9.39687C16.7727 10.2314 16.6402 11.0185 16.375 11.7582C16.1098 12.4979 15.75 13.1522 15.2955 13.7212L21.6875 20.1223C21.8958 20.331 22 20.587 22 20.8905C22 21.1939 21.8864 21.4595 21.6591 21.6871C21.4508 21.8957 21.1856 22 20.8636 22C20.5417 22 20.2765 21.8957 20.0682 21.6871ZM9.38636 14.5178C10.8068 14.5178 12.0142 14.0199 13.0085 13.0242C14.0028 12.0284 14.5 10.8193 14.5 9.39687C14.5 7.97439 14.0028 6.76529 13.0085 5.76956C12.0142 4.77383 10.8068 4.27596 9.38636 4.27596C7.96591 4.27596 6.75852 4.77383 5.7642 5.76956C4.76989 6.76529 4.27273 7.97439 4.27273 9.39687C4.27273 10.8193 4.76989 12.0284 5.7642 13.0242C6.75852 14.0199 7.96591 14.5178 9.38636 14.5178Z' fill='%23004C8F'/%3E%3C/svg%3E") no-repeat;
background-color: var(--SKFWhite);
background-position: 0.5rem center;
box-sizing: border-box;
padding: 0px 0px 0px 40px;
line-height: 30px;
height: 42px;
width: 100%;
display: block;
margin-bottom: 15px;
position: relative;
border: 1px solidvar(--SKFRoyalBlue) ;
border-radius: 32px;
box-sizing: border-box;
font-size: 16px;
font-family: "Open Sans", sans-serif; }

#application-dropdown .appdropdown-dropdown input.appdropdown-searchbar:focus {
border-color: var(--SKFRoyalBlue) ; }

#application-dropdown .appdropdown-title #app-down-arrow {
display: none !important; }

#application-dropdown .appdropdown-dropdown .appdropdown-group-header {
padding-left: 0px;
color: var(--SKFBlack);
font-family: Poppins;
font-size: 18px;
font-weight: 500;
text-transform: none;
overflow: hidden;
-ms-text-overflow: ellipsis;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
white-space: nowrap;
margin-bottom: 15px; }

#application-dropdown .appdropdown-dropdown .appdropdown-list-item {
list-style: none;
padding: 8px;
overflow: hidden;
-ms-text-overflow: ellipsis;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
white-space: nowrap;
color: var(--SKFBlack);
font-size: 16px;
font-weight: 400;
font-family: "Open Sans", sans-serif;
width: 95%; }

#application-dropdown .appdropdown-dropdown .appdropdown-list-item.selected {
color: var(--SKFBlack);
padding-left: 10px;
background: #eef6fb;
border: none; }

@media (max-width: 588px) {
#application-dropdown .appdropdown-dropdown {
width: 290px; } }

@media (max-width: 480px) {
#application-dropdown .appdropdown-dropdown {
width: 290px; }
#application-dropdown .appdropdown-title {
left: 7px;
width: 168px; } }

@media (max-width: 376px) {
#application-dropdown {
width: 175px; }
#ufd-prerendered {
right: 2px; }
#ufd-prerendered input {
width: 107px !important; } }

/*--------------------------------New Logo ---------------------------------- */
.new-logo img {
display: none; }

.new-logo {
display: flex;
width: 49px;
height: 54px;
margin-top: 5px;
margin-left: 8px;
margin-right: 24px;
background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='48' viewBox='0 0 44 48' fill='none'%3E%3Cpath d='M0 0.615723V1.12196L13.6347 21.4138L19.3721 11.8458L11.8207 0.615723H0ZM28.7882 26.1808L22.6289 35.1497L31.3616 47.9998H43.2582V47.4936L28.7882 26.1808Z' fill='%23004C8F'/%3E%3Cpath d='M39.9699 0L10.1354 47.9747H11.0214L43.7498 0H39.9699ZM34.5531 0L5.4021 47.9747H6.24583L38.333 0H34.5531ZM29.1363 0L0.921875 47.9747H1.78247L32.9837 0H29.1363Z' fill='%23004C8F'/%3E%3C/svg%3E") no-repeat; }


/* --------------------------------GENERAL - END--------------------------------*/

/* Application dropdown in Alliance theme  */
.search-menu .search-container {
  background-color: #fefefe;
  border-radius: 32px;
}

.search-container {
  border: 1px solid #004c8f;
  height: 48px;
  display: flex;
  width: 470px;
}

[data-theme=Material] .search-container {
  width: 400px;
}

.search-menu .search-container input::placeholder {
  color: #004c8f;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.15px;
}

.search-container > div {
  width: 100%;
}

.search-menu.is-opened .search-container {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.search-menu__results {
  width: 475px;
  border-radius: 8px !important;
}

.search-menu__results button span span span span {
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  text-transform: none;
  letter-spacing: 0.46px;
}

.search-menu__results button[aria-selected=true] span span span span {
  color: #004c8f;
}

.search-menu__results button[aria-selected=false] span span span span {
  color: #262626;
}


/* End Colappsed Menu */



.detpage input[type=radio] {
  background: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 viewBox=%270 0 24 24%27 fill=%27none%27%3E%3Cpath d=%27M12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z%27 fill=%27%23004C8F%27/%3E%3C/svg%3E") no-repeat;
  width: 20px !important;
  height: 20px !important;
  margin-right: 0px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.detpage input[type=radio]:checked {
  background: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 viewBox=%270 0 24 24%27 fill=%27none%27%3E%3Cpath d=%27M10.6 13.8L8.45 11.65C8.26667 11.4667 8.03333 11.375 7.75 11.375C7.46667 11.375 7.23333 11.4667 7.05 11.65C6.86667 11.8333 6.775 12.0667 6.775 12.35C6.775 12.6333 6.86667 12.8667 7.05 13.05L9.9 15.9C10.1 16.1 10.3333 16.2 10.6 16.2C10.8667 16.2 11.1 16.1 11.3 15.9L16.95 10.25C17.1333 10.0667 17.225 9.83333 17.225 9.55C17.225 9.26667 17.1333 9.03333 16.95 8.85C16.7667 8.66667 16.5333 8.575 16.25 8.575C15.9667 8.575 15.7333 8.66667 15.55 8.85L10.6 13.8ZM12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22Z%27 fill=%27%23004c8f%27/%3E%3C/svg%3E") no-repeat;
}

.detpage .fieldarea-field .group-item {
  font-weight: normal;
  color: #222222;
  font-size: 14px;
}



.detpage .group .group-item input[type=checkbox],
.detpage .fieldarea-field input[type=checkbox],
.detpage .fieldarea-caption input[type=checkbox] {
  background: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 viewBox=%270 0 24 24%27 fill=%27none%27%3E%3Cpath d=%27M19 5V19H5V5H19ZM19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3Z%27 fill=%27%23004C8F%27/%3E%3C/svg%3E") no-repeat;
  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.detpage .group .group-item input[type=checkbox]:checked,
.detpage .fieldarea-field input[type=checkbox]:checked,
.detpage .fieldarea-caption input[type=checkbox]:checked {
  background: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 viewBox=%270 0 24 24%27 fill=%27none%27%3E%3Cpath d=%27M19 3H5C3.89 3 3 3.9 3 5V19C3 20.1 3.89 21 5 21H19C20.11 21 21 20.1 21 19V5C21 3.9 20.11 3 19 3ZM10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z%27 fill=%27%23004C8F%27/%3E%3C/svg%3E") no-repeat;
}







 /*--------------------------------Increase size of checkbox ---------------------------------- */

.fieldarea-field input[type="checkbox"] {
width: 30px;
height: 30px;
}

/*--------------------------------Records image ---------------------------------- */

.no-records-container {
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #004C8F;
    padding-bottom: 0px;
}

.no-records-image {
    margin-bottom: 100px;
    max-width: 100%;
    height: 75px !important;
    width: 100px !important;
}
